In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('data/fakedata.xlsx')
df.head()

  Department  Dept            User ID             Name System1      Cube
0     Google  GOOG  R2J0PNN64H944P26B  Vanessa Sanchez    KLSE  979154.0
1     Google  GOOG  R2J0PNN64H944P26B  Vanessa Sanchez  NASDAQ  969122.0
2     Google  GOOG  95F33XSJ5HEK4WCMX    Jordan Harris    KLSE  251175.0
3     Google  GOOG  95F33XSJ5HEK4WCMX    Jordan Harris  NASDAQ  676021.0
4     Google  GOOG  95F33XSJ5HEK4WCMX    Jordan Harris    NYSE  927516.0

In [3]:
dept = df['Dept'].unique()
dept

array(['GOOG', 'AAPL', 'MSFT', 'AMZN', 'FB', 'INSTA', 'AIRBNB', 'UBER',
       'LYFT', 'TWTR', 'TSLA', 'NFLX', 'SPOT', 'SNAP', 'PINS', 'ZM',
       'WORK', 'SQ', 'SHOP', 'BYND'], dtype=object)

In [4]:
dept_name = df['Department'].unique()
dept_name

array(['Google', 'Apple', 'Microsoft', 'Amazon', 'Facebook', 'Instagram',
       'Airbnb', 'Uber', 'Lyft', 'Twitter', 'Tesla', 'Netflix', 'Spotify',
       'Snapchat', 'Pinterest', 'Zoom', 'Slack', 'Square', 'Shopify',
       'Beyond Meat'], dtype=object)

In [5]:
# checklist.to_excel('data/checklist.xlsx', index=False)
# checklist = pd.DataFrame(...)

In [6]:
for i in range(0, len(dept)):
    # filter the dataframe by dept
    filter = df[df['Department'] == dept_name[i]]
    # name the file using department code
    dept_code = dept[i]
    # export the file
    filter.to_excel('data/fakecsv/dept_' + dept_code + '.xlsx', index=False)

In [7]:
# generate fake system data
system = df['System1'].unique()

for i in range(0, len(system)):
    # filter the dataframe by dept
    filter = df[df['System1'] == system[i]]
    # name the file using department code
    sys_code = system[i]
    # export the file
    filter.to_excel('data/fakesystem/sys_' + sys_code + '.xlsx', sheet_name = sys_code, index=False)

Done testing, works well
- Next step is to scale with dept and dept_code