In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('data/fakedata.csv')
df.head()

,id,name,email,dept,system,dept_name
0,8VC7CRX47MVSZW2XE,Alexander Huber,vmaldonado@example.net,GOOG,KLSE,Google
1,8VC7CRX47MVSZW2XE,Alexander Huber,vmaldonado@example.net,GOOG,NASDAQ,Google
2,8WTYAKK88X2K665C1,Laura Thompson,caitlin98@example.org,GOOG,KLSE,Google
3,8WTYAKK88X2K665C1,Laura Thompson,caitlin98@example.org,GOOG,NASDAQ,Google
4,8WTYAKK88X2K665C1,Laura Thompson,caitlin98@example.org,GOOG,NYSE,Google

In [16]:
dept = df['dept'].unique()
dept

array(['GOOG', 'AAPL', 'MSFT', 'AMZN', 'FB', 'INSTA', 'AIRBNB', 'UBER',
       'LYFT', 'TWTR', 'TSLA', 'NFLX', 'SPOT', 'SNAP', 'PINS', 'ZM',
       'WORK', 'SQ', 'SHOP', 'BYND'], dtype=object)

In [17]:
dept_name = df['dept_name'].unique()
dept_name

array(['Google', 'Apple', 'Microsoft', 'Amazon', 'Facebook', 'Instagram',
       'Airbnb', 'Uber', 'Lyft', 'Twitter', 'Tesla', 'Netflix', 'Spotify',
       'Snapchat', 'Pinterest', 'Zoom', 'Slack', 'Square', 'Shopify',
       'Beyond Meat'], dtype=object)

In [18]:
for i in range(0, len(dept)):
    # filter the dataframe by dept
    filter = df[df['dept_name'] == dept_name[i]]
    # name the file using department code
    dept_code = dept[i]
    # export the file
    filter.to_csv('data/fakecsv/dept_' + dept_code + '.csv', index=False)

Done testing, works well
- Next step is to scale with dept and dept_code