In [2]:
import pandas as pd

In [4]:
df = pd.read_excel('data/fakedata.xlsx')
df.head()

  Department  Dept            User ID      Fullname System1      Cube
0     Google  GOOG  WN1ZKDTK5EWDFDWKG    Eric Blake    KLSE  791745.0
1     Google  GOOG  WN1ZKDTK5EWDFDWKG    Eric Blake  NASDAQ  692791.0
2     Google  GOOG  WN1ZKDTK5EWDFDWKG    Eric Blake    NYSE  568621.0
3     Google  GOOG  WN1ZKDTK5EWDFDWKG    Eric Blake     SGX  580051.0
4     Google  GOOG  M7H0N6B55GG62ESX4  Teresa Young    KLSE  476799.0

In [5]:
dept = df['Dept'].unique()
dept

array(['GOOG', 'AAPL', 'MSFT', 'AMZN', 'FB', 'INSTA', 'AIRBNB', 'UBER',
       'LYFT', 'TWTR', 'TSLA', 'NFLX', 'SPOT', 'SNAP', 'PINS', 'ZM',
       'WORK', 'SQ', 'SHOP', 'BYND'], dtype=object)

In [6]:
dept_name = df['Department'].unique()
dept_name

array(['Google', 'Apple', 'Microsoft', 'Amazon', 'Facebook', 'Instagram',
       'Airbnb', 'Uber', 'Lyft', 'Twitter', 'Tesla', 'Netflix', 'Spotify',
       'Snapchat', 'Pinterest', 'Zoom', 'Slack', 'Square', 'Shopify',
       'Beyond Meat'], dtype=object)

In [7]:
# checklist.to_excel('data/checklist.xlsx', index=False)
# checklist = pd.DataFrame(...)

In [9]:
for i in range(0, len(dept)):
    # filter the dataframe by dept
    filter = df[df['Department'] == dept_name[i]]
    # name the file using department code
    dept_code = dept[i]
    # export the file
    filter.to_excel('data/fakecsv/dept_' + dept_code + '.xlsx', index=False)

In [11]:
# generate fake system data
system = df['System1'].unique()

for i in range(0, len(system)):
    # filter the dataframe by dept
    filter = df[df['System1'] == system[i]]
    # name the file using department code
    sys_code = system[i]
    # export the file
    filter.to_excel('data/fakesystem/sys_' + sys_code + '.xlsx', index=False)

Done testing, works well
- Next step is to scale with dept and dept_code