In [3]:
import os
import pandas as pd

In [4]:
folder_path = r"C:\\Users\\Khor Kean Teng\\Downloads\\AUP Automata\\Data"
    
Department = []
Dept = []
UserID = []
Fullname = []
System1 = []
Cube = []


for filename in os.listdir(folder_path):
    if filename.endswith(".xlsx"):
        file_path = os.path.join(folder_path, filename)
        df = pd.read_excel(file_path)

        for i in range(len(df)):
            Department.append(df['Department'][i])
            Dept.append(df['Dept'][i])
            UserID.append(df['User ID'][i])
            Fullname.append(df['Fullname'][i])
            System1.append(df['System1'][i])
            Cube.append(df['Cube'][i])

dataframes = pd.DataFrame({'Department': Department,
                            'Dept': Dept,
                            'UserID': UserID,
                            'Fullname': Fullname,
                            'System1': System1,
                            'Cube': Cube})

dataframes.head()

KeyError: 'Department'

In [5]:
key = ['APPlE']
key[0].lower()

'apple'

In [6]:
data = pd.ExcelFile('data/fakedata.xlsx')
data2 = pd.read_excel(data)
data2.head()

  Department  Dept            User ID      Fullname System1      Cube
0     Google  GOOG  WN1ZKDTK5EWDFDWKG    Eric Blake    KLSE  791745.0
1     Google  GOOG  WN1ZKDTK5EWDFDWKG    Eric Blake  NASDAQ  692791.0
2     Google  GOOG  WN1ZKDTK5EWDFDWKG    Eric Blake    NYSE  568621.0
3     Google  GOOG  WN1ZKDTK5EWDFDWKG    Eric Blake     SGX  580051.0
4     Google  GOOG  M7H0N6B55GG62ESX4  Teresa Young    KLSE  476799.0

In [7]:
data.sheet_names

['Sheet1']

In [16]:
data = pd.read_excel('data/keylibrary.xlsx')
data.head()

    key   key_name
0  GOOG     Google
1  AAPL      Apple
2  MSFT  Microsoft
3  AMZN     Amazon
4    FB   Facebook

In [19]:
var = pd.DataFrame({'key': 'AAPL'}, index=[0])

In [21]:
var['key_name'] = var['key'].map(data.set_index('key')['key_name'])
var['key_name']

0    Apple
Name: key_name, dtype: object

In [22]:
test = ['a', 'b', 'c']
for i in range(len(test)):
    var = pd.DataFrame({'key': test[i]}, index=[0])
    print(var)

  key
0   a
  key
0   b
  key
0   c

In [5]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [1]:
import pandas as pd
file = 'data/*hr*.xlsx'
df = pd.read_excel(file)

OSError: [Errno 22] Invalid argument: 'data/*hr*.xlsx'