In [4]:
#from blueautomata.data_cleaning import dataCleaning
from blueautomata.data_compilation import BlueAutomata

In [2]:
test = BlueAutomata(
    folder_path=r"C:\Users\Khor Kean Teng\Downloads\AUP Automata\rawdata",
    checklist = 'rawdata/Department Checklist.xlsx',
    staff_data = 'rawdata/stafflist.xlsx',
    name_key= ['DP', 'INSIDES', 'SAS', 'STATSMART1', 'STATSMARTCUBE', 'CCRIS', 'ESSP',
               'RBCIFAS', 'FEMS', 'TOSS', 'USERSBANKING','ADMIN'],
    name_code= [1, 1, 1, 2, 3, 4, 5, 6, 10, 10, 10, 10],
)
df = test.automata_execution()
df.head()

,Department,Dept,User ID,Name,System1,Cube
0,Jabatan Pengurusan Data dan Statistik,JPS,sskila,Roshakila binti Ahmad,NAPIC,None
1,Jabatan Pengurusan Data dan Statistik,JPS,sshocc,Dr. Ho Chiung Ching,NAPIC,None
2,Jabatan Rangkuman Kewangan,FID,desharul,Shahrul Fitri bin Shafii,NAPIC,None
3,Jabatan Pengurusan Data dan Statistik,JPS,sskila,Roshakila binti Ahmad,BSH-BPN,None
4,Jabatan Dasar Monetari,JDM,sseilyn,Eilyn Chong Yee Lin,BSH-BPN,None

In [3]:
df.shape

(8609, 6)

In [4]:
test = BlueAutomata(
    folder_path=r"C:\Users\Khor Kean Teng\Downloads\AUP Automata\data\fakesystem",
    checklist = 'data/checklist.xlsx',
    staff_data = 'data/fake_hr_data.xlsx',
    name_key= ['BSE', 'HKEX', 'KLSE', 'LSE1' 'NASDAQ', 'NYSE', 'SGX', 'SSE', 'TSE'],
    name_code= [1, 1, 1, 1, 1, 1, 1, 1, 1],
)
df = test.automata_execution()
df.head()

  Department  Dept            User ID               Name System1  Cube
0     Google  GOOG  ewbzm6yv67w33mxy9  Christopher Bruce     BSE  None
1      Apple  AAPL  wrzzdur66uzwvb0dh      Michael Perez     BSE  None
2      Apple  AAPL  aurg7k1rxgmnsylsv     Stephanie Carr     BSE  None
3      Apple  AAPL  np81yvtz4zcum4h39       Julia Vargas     BSE  None
4      Apple  AAPL  99ttcx5t43r1rrwr1    Michelle Walker     BSE  None

In [5]:
df.shape

(2652, 6)

In [6]:
df.to_excel('data/automata_output.xlsx')

In [1]:
# double chekcing
from blueautomata.batch_export import BatchExport

In [2]:
import pandas as pd
df = pd.read_excel('data/automata_output.xlsx')

temp = BatchExport(destination = r"C:\Users\Khor Kean Teng\Downloads\AUP Automata\data\dept", masterlist = df)
temp.batch_export()

Export Completed

In [5]:
from blueautomata.to_vba import automate_vba
temp = automate_vba(filepath=r'C:\\Users\\Khor Kean Teng\\Downloads\\AUP Automata\\vbanew.xlsm',macro = 'vbanew.xlsm!Module1.kt_template' )

In [6]:
temp.templatetize()