## Class `AutomataReport` 
A notebook to showcase the usage of `AutomataReport` class

In [1]:
# import the class
from blueautomata.automation_report import AutomataReport

In [2]:
test = AutomataReport(
    folder_path=r"C:\Users\Khor Kean Teng\Downloads\AUP Automata\data\fakesystem",
    checklist = 'data/checklist.xlsx',
    staff_data = 'data/fake_hr_data.xlsx',
    name_key= ['BSE', 'HKEX', 'KLSE', 'LSE1', 'NASDAQ', 'NYSE', 'SGX', 'SSE', 'TSE'],
    name_code= [1, 1, 1, 1, 1, 1, 1, 1, 1],
)
df = test.automata_report_summary()

# print the dataframe
df.head(n = len(df))

   System  Match IDs  Not Match IDs  Total IDs
0     BSE         77             27        104
1    HKEX        404             90        494
2    KLSE        740            162        902
3    LSE1        314             72        386
4  SHEET1        658            141        799
5    NYSE        565            126        691
6     SGX        485            112        597
7     SSE          5              0          5
8     TSE        216             51        267