## Class `BlueAutomata` 
A notebook to showcase the usage of `BlueAutomata` class

In [1]:
# import the class
from blueautomata.data_compilation import BlueAutomata

In [2]:
test = BlueAutomata(
    folder_path=r"C:\Users\Khor Kean Teng\Downloads\AUP Automata\data\fakesystem",
    checklist = 'data/checklist.xlsx',
    staff_data = 'data/fake_hr_data.xlsx',
    name_key= ['BSE', 'HKEX', 'KLSE', 'LSE1', 'NASDAQ', 'NYSE', 'SGX', 'SSE', 'TSE'],
    name_code= [1, 1, 1, 1, 1, 1, 1, 1, 1],
)
df = test.automata_execution()

# print the dataframe
df.head()

  Department  Dept            User ID               Name System1  Cube
0     Google  GOOG  ewbzm6yv67w33mxy9  Christopher Bruce     BSE  None
1      Apple  AAPL  wrzzdur66uzwvb0dh      Michael Perez     BSE  None
2      Apple  AAPL  aurg7k1rxgmnsylsv     Stephanie Carr     BSE  None
3      Apple  AAPL  np81yvtz4zcum4h39       Julia Vargas     BSE  None
4      Apple  AAPL  99ttcx5t43r1rrwr1    Michelle Walker     BSE  None

In [ ]:
# export if needed
# df.to_excel('output.xlsx')